.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: end;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: -12px;
}

.lifes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lifes_counter {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 30px;
}

.power {
  cursor: pointer;
}

.power_description {
  font-family: StratosSkyeng;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: auto;
  color: #004980;
  font-size: 18px;
  background-color: #c2f5ff;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  transform: translate(-20%, 110%);
}

.lifes_description {
  font-family: StratosSkyeng;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: auto;
  color: #004980;
  font-size: 18px;
  background-color: #c2f5ff;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  transform: translate(-20%, 110%);
}

.power:hover .power_description {
  visibility: visible;
}

.lifes:hover .lifes_description {
  visibility: visible;
}

.bottom_line {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.powers_block {
  display: flex;
  align-items: center;
  gap: 15px;
}